@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
body{
    background-color: #eeb3b3;
    font-family: 'Playfair Display', serif;
}
#title {
    color: #D21312;
    font-family: 'Playfair Display', serif;
}
#welcome {
    text-align: center;
    color: rgb(255, 255, 255);
    list-style-type: none;
}
#image1 {
    width: 30%;
    max-width: 300px;
}
#image2 {
    width: 30%;
    max-width: 300px;
}
#info1 {
    color: #ffffff;
}
.info_general {
    text-align: center;
}
.links {
    text-align: center;
}
#welcome:hover  {
   color: black;
}
a{
    text-decoration: none;
}
.border_image a img{
    border: 9px solid #E76161;
}
#netlink:hover  {
    color: rgb(255, 0, 0);
 }
 #Home:hover {
    color: rgb(255, 0, 0);
}
#TV:hover {
    color: rgb(255, 0, 0);
}
#series:hover {
    color: rgb(255, 0, 0);
}
#image1:hover {
    color: #D21312;
}